@media only screen and (min-width: 600px) {
    form {
        border: 7px solid var(--bs-secondary-bg);
        padding: 30px;
        border-radius: 20px;       
    }
}

@media only screen and (max-width: 576px) {
    form {
        padding: 0 20px;       
    }
}

.result {
    font-size: x-large;
    font-weight: bold;
    color: var(--bs-indigo);
    text-align: center;
    margin-top: 30px;
}