form {
    border-bottom: 1px solid var(--bs-gray-200);
    padding-bottom: 20px;      
}

.result {
    font-size: x-large;
    font-weight: bold;
    color: var(--bs-indigo);
    text-align: center;
    margin-top: 30px;
}