<mat-toolbar>
    <span class="flex-grow-1">Convert</span>
  </mat-toolbar>
<form [formGroup]="form" class="container mt-5">
    <div class="row">
        <mat-form-field appearance="outline" class="col-md-4 col-sm-12">
            <mat-label>Amount</mat-label>
            <input formControlName="amount" matInput type="number">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col-md-4 col-sm-6">
            <mat-label>From</mat-label>
            <mat-select formControlName="fromRate">
                @for (rate of rates; track rate) {
                    <mat-option [value]="rate">{{rate}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4 col-sm-6">
            <mat-label>To</mat-label>
            <mat-select formControlName="toRate">
                @for (rate of rates; track rate) {
                    <mat-option [value]="rate">{{rate}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row justify-content-end">
        <button mat-raised-button color="primary" 
                                  class="w-auto me-3 mt-3" 
                                  [disabled]="!form.valid"
                                  (click)="calcExchangeRate()" >Convert</button>
    </div>
</form>

@if(result) {
    <div class="result">    
        {{result.amount | number: '1.2-2'}} {{result.fromRate}} = <b>{{result.result | number: '1.2-2'}}</b> {{result.toRate}}
    </div>
}