<mat-toolbar>
    <span class="flex-grow-1">Convert</span>
    <button mat-button color="accent" mat-flat-button (click)="navigateHistory()">About</button>
</mat-toolbar>

@if (isLoading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<form [formGroup]="form" class="container">
    <div class="row">
        <mat-form-field appearance="outline" class="col-md-4 col-sm-12">
            <mat-label>Amount</mat-label>
            <input formControlName="amount" matInput type="number" min="0">
            <mat-error>Enter number greater then 0</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4 col-sm-6">
            <mat-label>From</mat-label>
            <mat-select formControlName="fromRate">
                @for (symbol of symbols | keyvalue; track symbol.key) {
                <mat-option [value]="symbol.key"><b>{{symbol.key}}</b> - {{symbol.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4 col-sm-6">
            <mat-label>To</mat-label>
            <mat-select formControlName="toRate">
                @for (symbol of symbols | keyvalue; track symbol.key) {
                <mat-option [value]="symbol.key"><b>{{symbol.key}}</b> - {{symbol.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row justify-content-end">
        <button mat-raised-button color="primary" class="w-auto me-3 mt-3" [disabled]="!form.valid"
            (click)="calcExchangeRate()">Convert</button>
    </div>
</form>

@if(result) {
<div class="result">
    {{result.amount | number: '1.2-2'}} {{result.fromRate}} = <b>{{result.result | number: '1.2-2'}}</b>
    {{result.toRate}}
</div>
}